html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #d3cfc7;
}

.error {
  margin: 0;
}
.num {
  font-family: "Roboto";
  color: #262425;
  font-size: 10rem;
  text-align: center;
  line-height: 0;
  margin-top: 25px;
  margin-left: -10px;
}

.ocurr {
  font-family: "Roboto";
  font-size: 1.7rem;
  color: #0d0c0c;
  font-weight: 200;
  line-height: 0;
  text-align: center;
  margin: -73px 0 0 9px;
}

@media screen and (min-width: 768px) {
  .num {
    font-size: 15rem;
    margin-left: -40px;
  }
  .ocurr {
    font-size: 2.7rem;
    margin: -123px 0 0 0;
  }
}

.click {
  font-family: "Roboto";
  font-size: 1.7rem;
  color: #0d0c0c;
  text-align: center;
  font-weight: 200;
  margin: 130px 0 0 0;
}
