@import "./variables";
@import "./mixins";

html {
  @include box-sizing(border-box);
}
*,
*:after,
*:before {
  @include box-sizing(inherit);
}

body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: var(--header-bg-color);

  @include desktop {
    display: none;
  }
  .logo {
    padding-top: 8px;
    width: 100%;
    @include tablet {
      padding-left: 10px;
    }
    img {
      width: 150px;
      @include tablet {
        width: 196px;
      }
    }
  }
}

// ---------------------------
// Vars & Helper Functions
// ---------------------------

:root {
  --screen-height: 560px;
  --header-bg-color: #a69e8f;
  --splash-bg-color: #a69e8f;
}

// calculate a circle's circumference based on radius
@function circumference($r) {
  $pi: 3.141592653;
  @return 2 * $pi * $r;
}

// ---------------------------
// Main Navigation Menu
// ---------------------------

.nav-card {
  height: 0;
}
.nav {
  // Toggle Button
  &__toggle {
    display: inline-block;
    position: absolute;
    z-index: 10;
    padding: 0;
    border: 0;
    background: transparent;
    outline: 0;
    right: 6px;

    @include tablet {
      right: 15px;
    }
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.15s linear;

    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
  

    @include android {
      height: 330px;
    }
    @include pixel {
      height: 386px;
    }
    @include tablet {
      height: 550px;
    }
    @include tabletLarge {
      height: 470px;
    }
    position: relative;
    z-index: 5;
    visibility: hidden;
    list-style: none;
    padding: 0;
    font-family: $second-font;
  }

  &__item {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
  }
  @for $i from 1 through 5 {
    &__item:nth-child(#{$i}) {
      transform: translateY(-40px * $i);
    }
  }

  &__link {
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.25rem;
    @include tablet {
      font-size: 2.25rem;
    }
    text-decoration: none;
    padding: 1rem;

    &:hover,
    &:focus {
      outline: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

// ---------------------------
// SVG Menu Icon
// ---------------------------

.menuicon {
  display: block;
  cursor: pointer;
  color: white;

  transform: rotate(0deg);
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

  &__bar,
  &__circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
  }
  &__bar {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-in-out;
  }
  &__circle {
    transition: stroke-dashoffset 0.3s linear 0.1s;
    stroke-dashoffset: circumference(23); // 23 is the <circle>'s radius
    stroke-dasharray: circumference(23);
  }
}

// ---------------------------
// Circular Splash Background
// ---------------------------

.splash {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 1px;
  height: 1px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: var(--splash-bg-color);
    z-index: 3;
    // screen diameter can be 142vmax at most,
    // circle needs to be twice that size to cover it
    width: 284vmax;
    height: 284vmax;
    top: -142vmax;
    left: -142vmax;

    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);

    // will-change tells the browser we plan to
    // animate this property in the near future
    will-change: transform;
  }
}

// ---------------------------
// Active State
// ---------------------------

.nav:target,
.nav--open {
  //scale the background circle to full size
  > .splash::after {
    transform: scale(1);
  }

  //animate the menu icon
  .menuicon {
    color: white;
    transform: rotate(180deg);

    &__circle {
      stroke-dashoffset: 0;
    }
    &__bar:nth-child(1),
    &__bar:nth-child(4) {
      opacity: 0;
    }
    &__bar:nth-child(2) {
      transform: rotate(45deg);
    }
    &__bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  //show the nav items

  .nav {
    &__menu {
      visibility: visible;
    }

    &__item {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
footer {
  .container {
    padding: 10px 20px 10px 20px;
    background-color: $color-one;
    @include tablet {
      padding: 10px 30px 10px 30px;
      display: grid;
      grid-template-columns: 33% 33% 30%;
      grid-template-rows: 40% 30% 10% 20%;
      column-gap: 15px;
    }
    @include desktop {
      padding: 10px 40px 10px 40px;
      column-gap: 25px;
    }
    .consult {
      @include tablet {
        grid-column: 1 / 2;
      }
      h3 {
        @include h3(30px, $font-color-one, 700, $second-font);
        @include tablet {
          line-height: 30px;
        }
        @include web {
          font-size: 40px;
        }
      }
      div {
        @include p(20px, $font-color-one, 400, $second-font, 30px);
        padding-bottom: 20px;
        @include tablet {
          padding-bottom: 10px;
        }
        @include web {
          font-size: 30px;
          padding-bottom: 20px;
        }
      }
      :nth-child(3) {
        @include p(30px, $font-color-one, 200, $second-font, 30px);
        padding-bottom: 0;
        @include web {
          font-size: 40px;
        }
      }
    }
    .visit {
      justify-self: center;

      @include tablet {
        grid-column: 2 / 3;
      }
      h3 {
        @include h3(30px, $font-color-one, 700, $second-font);
        @include tablet {
          line-height: 30px;
          width: 196px;
        }
        @include tabletLarge {
          width: 100%;
        }
        @include web {
          font-size: 40px;
        }
      }
      .contain {
        div {
          @include p(20px, $font-color-one, 200, $second-font, 30px);
          grid-row: 2 / 3;
          @include tablet {
            padding-top: 30px;
            width: 177px;
          }
          @include web {
            font-size: 30px;
            width: 300px;
            line-height: 35px;
          }
        }
      }
    }
    .hours {
      justify-self: flex-end;
      h3 {
        @include h3(30px, $font-color-one, 700, $second-font);
        @include tablet {
          line-height: 30px;
        }
        @include web {
          font-size: 40px;
        }
        padding-bottom: 10px;
      }
      .contain {
        @include tablet {
          grid-column: 3 / 4;
          grid-row: 2 / 3;
          padding-top: 30px;
          padding-bottom: 20px;
          @include web {
            padding-bottom: 40px;
          }
        }
        div {
          @include p(20px, $font-color-one, 400, $second-font, 10px);
          padding-bottom: 20px;
          @include web {
            font-size: 30px;
            line-height: 20px;
          }
        }
        :nth-child(2) {
          font-weight: 200;
          @include web {
            font-size: 30px;
          }
        }
        :nth-child(4) {
          font-weight: 200;
          @include web {
            font-size: 30px;
          }
        }
      }
    }
    .line {
      border-bottom: 1px solid $font-color-one;
      padding-left: 0;
      width: 100%;
      @include tablet {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
      }
    }
    .social {
      @include landscape {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      @include tablet {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
        display: grid;
        grid-template-columns: 70% 30%;
        @include tabletFull {
          grid-template-columns: 73% 27%;
        }
        @include desktop {
          grid-template-columns: 76% 24%;
        }
        @include web {
          grid-template-columns: 70% 30%;
        }
        @include webLarge {
          grid-template-columns: 72% 28%;
        }
        @include full {
          grid-template-columns: 79% 23%;
        }
      }

      div {
        padding-top: 10px;
        @include p(20px, $font-color-one, 200, $second-font, 25px);
      }
      .icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        a {
          margin-right: 15px;
        }
      }
    }
  }
}
