@mixin android {
  @media screen and (min-width: #{$android}) {
    @content;
  }
}
@mixin iphone {
  @media screen and (min-width: #{$iphone}) {
    @content;
  }
}
@mixin pixel {
  @media screen and (min-width: #{$pixel}) {
    @content;
  }
}
@mixin medium {
  @media screen and (min-width: #{$medium}) {
    @content;
  }
}
@mixin landscape {
  @media screen and (min-width: #{$landscape}) {
    @content;
  }
}
@mixin landscapeMedium {
  @media screen and (min-width: #{$landscapeMedium}) {
    @content;
  }
}
@mixin mobile {
  @media screen and (min-width: #{$mobile}) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}
@mixin tabletMedium {
  @media screen and (min-width: #{$tabletMedium}) {
    @content;
  }
}
@mixin tabletLarge {
  @media screen and (min-width: #{$tabletLarge}) {
    @content;
  }
}
@mixin tabletFull {
  @media screen and (min-width: #{$tabletFull}) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}
@mixin web {
  @media screen and (min-width: #{$web}) {
    @content;
  }
}
@mixin webLarge {
  @media screen and (min-width: #{$webLarge}) {
    @content;
  }
}
@mixin full {
  @media screen and (min-width: #{$full}) {
    @content;
  }
}
@mixin h1($size, $color, $weight, $family) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-family: $family;
}
@mixin h3($size, $color, $weight, $family) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-family: $family;
}
@mixin h1Init($size, $color, $weight, $family, $spacing) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-family: $family;
  letter-spacing: $spacing;
}
@mixin p($size, $color, $weight, $family, $line) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-family: $family;
  line-height: $line;
}
@mixin box($color, $padding, $shadow, $width, $text-align) {
  background-color: $color;
  padding: $padding;
  width: $width;
  text-align: $text-align;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 1);
}
@mixin button($color,$heigh, $width) {
  background-color: $color;
  width: $width;
  height: $heigh;
}
@mixin box-sizing($box-model) {
  box-sizing: $box-model;
}
@mixin card($color, $height, $padding) {
  background-color: $color;
  height: $height;
  padding: $padding;
}
