$color-one: rgba(166, 158, 143, 0.5);
$color-two: #a69e8f;
$color-three: #590a18;
$color-four: #262425;
$font-color-one: #0c2659;
$font-color-two: #0d0c0c;

$first-font: "Mongolian Baiti";
$second-font: "Roboto", sans-serif;

$android: 360px;
$iphone: 375px;
$pixel: 411px;
$medium: 440px;
$mobile: 480px;
$landscape: 600px;
$landscapeMedium: 700px;
$tablet: 768px;
$tabletMedium: 782px;
$tabletLarge: 980px;
$tabletFull: 1120px;
$desktop: 1240px;
$web: 1366px;
$webLarge: 1440px;
$full: 1920px;
