@import "./common";

.wellcome {
  width: 100%;
  height: 50vh;
  margin-bottom: 40px;
  @include tablet {
    height: 60vh;
  }
  @include tabletLarge {
    height: 70vh;
  }
  @include desktop {
    height: 100vh;
  }
  margin-top: -16px;
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-rows: 40% 60%;
  @include android {
    grid-template-rows: 45% 55%;
  }
  .webMenu {
    display: none;
    @include desktop {
      display: flex;
      justify-content: space-between;
      .containerFixed {
        background-color: $color-two;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top: -130px;
        left: 0;
        font-family: $second-font;
        position: fixed;
        z-index: 999;
        transition: 0.2s;
        .menu-fixed {
          width: 100%;
          font-size: 20px;
          margin-right: 15px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          div {
            margin-right: 27px;
            a {
              text-decoration: none;
              color: white;
              padding: 10px;
            }
            a:hover {
              background-color: rgba(255, 255, 255, 0.281);
            }
          }
        }
        .imgLogo {
          margin: 5px 0 0 25px;
          width: 183px;
          img {
            width: 100%;
          }
        }
      }
      .menu {
        padding-top: 30px;
        width: 506px;
        display: flex;
        justify-content: space-around;
        transition: opacity 0.5s 0.25s ease-out;

        a {
          text-decoration: none;
          color: white;
          font-size: 20px;
          padding: 10px;
          font-family: $second-font;
        }
        a:hover {
          background-color: rgba(255, 255, 255, 0.281);
        }
      }
      .logo {
        display: block;
        width: 300px;
        transition: opacity 0.1s 0.25s ease-out;

        img {
          width: 100%;
        }
      }
      .menu.is-visible {
        opacity: 1;
      }
    }
  }
  .container {
    grid-row: 2 / 3;

    h1 {
      text-align: center;
      margin-top: 0;
      @include h1Init(20px, white, 700, $second-font, 3px);
      @include medium {
        font-size: 25px;
      }
      @include landscape {
        font-size: 30px;
      }
      @include tablet {
        font-size: 40px;
      }
      @include web {
        font-size: 60px;
      }
    }
  }
}
.contact {
  .container {
    padding: 0 20px 20px 20px;
    @include tablet {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: baseline;
      padding: 0 30px 20px 30px;
    }
    @include desktop {
      padding: 0 40px 20px 40px;
    }
    .form {
      @include web {
        width: 90%;
      }
      @include full {
        width: 80%;
      }
      h1 {
        @include h1(20px, white, 400, $first-font);
        @include box($color-three, 20px, box-shadow, 176px, center);
      }
      form {
        input {
          width: 100%;
          height: 50px;
          color: $font-color-two;
          margin-bottom: 0.4rem;
          border: 2px solid #e6e6e6;
          color: $color-two;
        }
        input::placeholder {
          font-size: 13px;
          font-family: $first-font;
          color: $color-two;
        }
        div {
          padding: 15px 0;
          label {
            @include p(18px, $font-color-two, 400, $second-font, 0);
          }
        }
        textarea {
          border: 2px solid #e6e6e6;
          width: 100%;
          color: $color-two;
        }
        #buttonAjax {
          @include button($color-three, auto, auto);
          padding: 15px 20px 15px 20px;
          border: none;
          cursor: pointer;
          margin-top: 15px;
          font-size: 14px;
          color: white;
        }
      }
    }
  }
}
.info {
  @include tablet {
    justify-self: flex-end;
  }
  @include desktop {
    justify-self: center;
  }
  .containerInfo {
    @include tablet {
      margin-left: 60px;
    }
    h1 {
      margin: 50px 0 60px 0;
      @include tablet {
        margin-bottom: 85px;
      }
      @include h1(20px, white, 400, $first-font);
      @include box($color-three, 20px, box-shadow, 220px, center);
    }
    .contain {
      .iconsInfo {
        display: grid;
        grid-template-columns: 15% 85%;
        @include p(20px, $font-color-one, 300, $second-font, 26px);
        i {
          grid-column: 1 / 2;
        }
        div {
          padding-bottom: 20px;
          grid-column: 2 / 3;
        }
        .hour {
          padding: 0;
        }
      }
    }
  }
}
