@import "./common";

.wellcome {
  width: 100%;
  height: 50vh;
  margin-bottom: 40px;
  @include tablet {
    height: 60vh;
  }
  @include tabletLarge {
    height: 70vh;
  }
  @include desktop {
    height: 100vh;
  }
  margin-top: -16px;
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-rows: 40% 60%;
  @include android {
    grid-template-rows: 45% 55%;
  }
  .webMenu {
    display: none;
    @include desktop {
      display: flex;
      justify-content: space-between;
      .containerFixed {
        background-color: $color-two;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top: -130px;
        left: 0;
        font-family: $second-font;
        position: fixed;
        z-index: 999;
        transition: 0.2s;
        .menu-fixed {
          width: 100%;
          font-size: 20px;
          margin-right: 15px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          div {
            margin-right: 27px;
            a {
              text-decoration: none;
              color: white;
              padding: 10px;
            }
            a:hover {
              background-color: rgba(255, 255, 255, 0.281);
            }
          }
        }
        .imgLogo {
          margin: 5px 0 0 25px;
          width: 183px;
          img {
            width: 100%;
          }
        }
      }

      .menu {
        padding-top: 30px;
        width: 506px;
        display: flex;
        justify-content: space-around;
        transition: opacity 0.5s 0.25s ease-out;

        a {
          text-decoration: none;
          color: white;
          font-size: 20px;
          padding: 10px;
          font-family: $second-font;
        }
        a:hover {
          background-color: rgba(255, 255, 255, 0.281);
        }
      }
      .logo {
        display: block;
        width: 300px;
        transition: opacity 0.1s 0.25s ease-out;

        img {
          width: 100%;
        }
      }
      .menu.is-visible {
        opacity: 1;
      }
    }
  }
  .container {
    grid-row: 2 / 3;

    h1 {
      text-align: center;
      margin-top: 0;
      @include h1Init(20px, white, 700, $second-font, 3px);
      @include medium {
        font-size: 25px;
      }
      @include landscape {
        font-size: 30px;
      }
      @include tablet {
        font-size: 40px;
      }
      @include web {
        font-size: 60px;
      }
    }
  }
}
.message-position {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2px;
  opacity: 0;
  transition: opacity 0.5s 0.25s ease-out;
  .message-mobile {
    top: 583px;
    padding-top: 20px;
    padding-left: 17px;
    border-radius: 50%;
    position: fixed;
    background-color: $color-three;
    width: 54px;
    height: 54px;
    z-index: 11;

    img {
      width: 21px;
      height: 15px;
    }
  }
  @include tabletFull {
    display: none;
  }
}

.garage {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    margin-bottom: 10px;
  }
  .brown {
    background: linear-gradient(
      to bottom,
      $color-two 0%,
      $color-two 50%,
      $color-two 50%,
      $color-one 50%,
      $color-one 100%
    );
    @include tablet {
      background-color: $color-two;
      display: flex;
      align-items: center;
      padding: 0 18px;
      width: 80%;
    }
    @include desktop {
      background: linear-gradient(
        to right,
        $color-two 0%,
        $color-two 50%,
        $color-two 50%,
        $color-one 50%,
        $color-one 100%
      );
      padding: 50px 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    @include full {
      background: linear-gradient(
        to right,
        $color-two 0%,
        $color-two 50%,
        $color-two 50%,
        $color-two 70%,
        $color-one 70%,
        $color-one 100%
      );
      padding: 90px 0;
      justify-content: flex-end;
    }
    width: 100%;
    height: auto;
    z-index: 1;
    padding: 40px 18px 0 18px;
  }
  .black {
    background-color: $color-four;
    width: auto;
    z-index: 2;
    padding: 65px 25px;
    @include desktop {
      padding: 90px 45px;
      width: auto;
      height: auto;
    }
    img {
      width: 100%;
    }
  }
  .white {
    background-color: $color-one;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    @include tablet {
      margin-bottom: 0;
    }
    @include desktop {
      padding: 0;
      display: flex;
      align-items: center;
    }
    padding: 0 20px 30px 20px;
    @include full {
      padding: 0 80px;
    }
    h3 {
      @include h3(40px, $font-color-two, 400, $first-font);
      border-bottom: 3px solid #707070;
      display: inline-block;
      line-height: 55px;
      @include desktop {
        margin-top: 0;
      }
      @include webLarge {
        font-size: 45px;
      }
    }

    p {
      @include p(15px, $font-color-one, 300, $second-font, 35px);
      @include webLarge {
        font-size: 18px;
      }
    }
  }
}
.services {
  .container {
    padding: 0 20px;
    @include web {
      padding: 0 30px 0 48px;
    }
    @include tabletLarge {
      display: flex;
      justify-content: flex-start;
    }
    .serv {
      padding: 50px 0;
      @include tabletLarge {
        width: 50%;
      }
      @include full {
        width: 40%;
      }
      h1 {
        @include h1(20px, white, 400, $first-font);
        @include box($color-three, 20px, box-shadow, 198px, center);
        margin-bottom: 70px;
        @include web {
          font-size: 25px;
        }
      }
      p {
        @include p(15px, $font-color-one, 300, $second-font, 35px);
        @include web {
          font-size: 18px;
        }
      }
    }
    .cards {
      .cardMobile {
        @include card($color-one, 440px, 20px);
        margin-bottom: 10px;
        h3 {
          @include h3(35px, $color-four, 400, $first-font);
          text-align: center;
        }
        p {
          @include p(15px, $font-color-two, 300, $second-font, 35px);
          text-align: center;
        }
        display: none;
      }
      .active {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: fadeImg 0.8s;
        @include mobile {
          display: none;
        }
        i {
          img {
            width: 100px;
          }
        }
      }
      button {
        position: relative;
        display: inline-block;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 20px 5px;
        font-size: 2rem;
        @include mobile {
          display: none;
        }
      }

      button span {
        position: relative;
        display: inline-block;
        transform: translateX(0);
        transition: transform 0.3s ease;
      }

      .slider-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
      }

      .slider-nav li {
        display: flex;
        flex: 2;
        text-align: center;
      }

      .slider-nav .arrow {
        flex: 0 0 15%;
      }

      .slider-nav a {
        flex-basis: 100%;
        display: flex;
        align-items: center;
      }

      .slider-nav span {
        display: block;
        width: 100%;
      }
      .material-icons {
        font-size: 30px;
      }
      @keyframes fadeImg {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }
  }
}
.cardFull {
  display: none;

  @include mobile {
    display: block;
    max-width: 1100px;
    margin: 0 auto;
  }
  @include full {
    max-width: 715px;
  }
  @include tablet {
    margin: 65px auto;
  }
  @include full {
    margin: 65px 0 0 15%;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 965px;
    @include tablet {
      max-height: 800px;
    }
    @include tabletMedium {
      max-height: 670px;
    }
    @include tabletLarge {
      max-height: 681px;
    }
    .card {
      @include card($color-one, auto, 20px);
      width: calc(50% - 0.5rem);
      @include tablet {
        width: calc(33% - 0.5rem);
      }
      @include tabletMedium {
        width: calc(32% - 0.3rem);
      }
      @include tabletLarge {
        width: calc(33% - 0.2rem);
        margin-bottom: 0.3rem;
      }

      margin-bottom: 0.4rem;
      margin-left: 0.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        text-align: center;
      }
      p {
        text-align: center;
      }

      i {
        img {
          width: 70px;
        }
      }
    }
  }
}
.team {
  .container {
    @include tablet {
      display: grid;
      grid-template-columns: 50% 50%;
      padding-right: 19px;
    }
    @include tabletLarge {
      padding: 0 19px 80px 0;
    }
    @include web {
      padding-right: 30px;
    }
    @include full {
      padding-right: 135px;
      padding: 70px 130px 70px 0;
    }

    .contain {
      width: auto;
      height: auto;
      background-color: $color-two;
      padding: 30px;
      display: flex;
      align-items: center;
      @include landscape {
        padding: 30px 65px;
      }
      @include landscapeMedium {
        padding: 30px 100px;
      }
      @include tablet {
        margin-top: 80px;
        padding: 50px;
        align-self: center;
        grid-column: 2 / 3;
      }
      @include tabletLarge {
        margin: 0;
        padding: 65px;
      }
      @include web {
        margin: 0;
        justify-self: flex-end;
      }
      .img {
        display: flex;
        align-items: center;
        height: auto;
        padding: 30px 30px;
        background-color: #262425;
        @include tabletLarge {
          padding: 80px 60px;
        }
        @include web {
          padding: 100px 80px;
        }
        img {
          width: 100%;
        }
      }
    }
    .content {
      padding: 0 20px;
      h3 {
        @include h3(40px, $font-color-two, 400, $first-font);
        border-bottom: 3px solid #707070;
        display: inline-block;
        line-height: 55px;
      }
      p {
        @include p(15px, $font-color-one, 300, $second-font, 35px);
      }
      @include tablet {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      @include web {
        padding: 70px 40px;
      }
    }
  }
}
.gallery {
  .container {
    padding: 50px 26px 0 20px;
    h1 {
      margin-bottom: 70px;
      @include h1(20px, white, 400, $first-font);
      @include box($color-three, 20px, box-shadow, 214px, center);
      @include web {
        font-size: 25px;
        width: 280px;
      }
    }
    .images {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: repeat(4, 1fr);
      column-gap: 5px;
      margin-bottom: 70px;
      @include web {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: repeat(3, 1fr);
      }
      // @include full{
      //   grid-template-columns: 15% 15% 15% 15% 15% 15%;
      //   grid-template-rows: repeat(2, 1fr);
      // }

      .img {
        a {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
